@model Models02.Models.Comment
           
@Html.HiddenFor(m => m.SessionID)

<div>
    @Html.LabelFor(m => m.Content)
    @Html.EditorFor(m => m.Content)
</div>
<button type="submit">Submit Comments</button> 

